<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

  <title>Planification </title>

  <head/>
<body>
<header>
  <h1>Planification Creation</h1>
</header>
<main>
  <form action="savePlanification" method="post">

    <div>
      <label for="date">Date Planification: </label>
      <input type="DateTime" id="date" name="datePlanification">
    </div>

    <div>
      <input type="submit" value="Save">:
    </div>
  </form>
</main>
<footer>
  <a href="planificationist">Planification List</a>
</footer>
</body>
</html>